include bemto/bemto.pug

//- include partials
//- Хедер
include _partials/header.pug

//- Главная
include _partials/main_screen.pug

//- Second screen
include _partials/second_screen.pug

//- laureates screen
include _partials/laureates_screen.pug

//- news screen
include _partials/news_screen.pug

//- contacts screen
include _partials/contacts_screen.pug


//- Футер
include _partials/footer.pug



doctype html 
html
	head
		link(rel="shortcut icon" href="img/fav-redpix.png" type="image/png")
		title title
		
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")

		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
		//- include animate.css
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+header
		+main_screen
		+second_screen
		+laureates_screen
		+news_screen
		+contacts_screen
		+footer




		//- wow js
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js")
		//- script new WOW().init();
		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")