mixin header
	+b.HEADER.header.wrap
		+b.header-inner.container
			+b.burger
				+e.line.line-first
				+e.line.line-second
				+e.line.line-third
			+b.NAV.nav-menu
				+b.UL.nav-list
					+e.item О нас
					+e.item Преимущества
					+e.item Наши достижения
					+e.item Правила
					+e.item Новости
					+e.item FAQ
					+e.item Контакты
			+b.login-lang
				+b.login
					+b.entry
						a вход
					+b.registration.btn_default
						a регистрация
				+b.lang

