mixin laureates_screen
    +b.laureates.wrap
        +b.laureates-content.container
            +b.progress-block
                +b.cup-block
                    +e.IMG.img(src="./img/cup.png")
                +b.progress-info
                    +e.P.title Мы — лауреаты премии Betting Awards
                    +e.del
                    +e.UL.list
                        li Лучшая букмекерская компания
                        li Лучшая букмекерская компания
                        li Лучшая букмекерская компания
                    +e.A.btn.btn_default Регистрация