include news-card.pug

mixin news_screen
    +b.news.wrap
        +b.wave-before
        +b.news-content.container
            +b.news-block
                +b.block-title_default
                    +e.P.title-news.news-title Последние новости
                    +e.del

                +b.news-slider
                    +news-card
                    +news-card
                    +news-card
                    +news-card
                    +news-card
                    +news-card

            +b.faq-wrap
                +b.block-title_default
                    +e.P.title FAQ
                    +e.del
                +b.faq-block
                    +b.faq-list
                        p.text_regular Общие определения
                        p.text_regular Общие определения
                        p.text_regular Общие определения
                        p.text_regular Общие определения
                        p.text_regular Общие определения

                    +b.faq-desc
                        ul
                            li Букмекерская компания – ресурс (1xstavka.ru) в сети Интернет, где пользователям предлагается возможность делать ставки на спортивные события в онлайн-режиме.
                            li Партнерская Программа – агентство в области маркетинга, которое посредством партнёрских схем привлекает новых посетителей на сайт.
                            li Партнёр – веб-мастер (физическое или юридическое лицо), выполняющий условия партнерской программы на affiliates.1xstavka.ru, привлекает новых пользователей, тем самым продвигая продукты БК 1xСтавка.
                            li Игроки – клиенты букмекерской компании, зарегистрировавшиеся по ссылке Партнёра.
                            li Заработок – определенные средства, полученные Партнёром в качестве комиссии от прибыли с привлеченных им игроков.
                            li Выплата – начисление заработка Партнёра из внутреннего счета Партнерской Программы во внешнюю платёжную систему.
                            li Отчётный период – некоторый период времени, за который средства, полученные Партнером, становятся доступными для вывода во внешние платёжные системы.
                            li Рекламные материалы – набор инструментов, служащих для продвижения продуктов букмекерской компании 1xСтавка в Интернете.

 

                    