mixin news-card
    +b.news-card
        +e.IMG.img(src="./img/news-1.png")
        +b.news-card-text
            +e.P.title Серия А хочет проводить матчи за границей
            +e.P.desc Исполнительный директор серии А Луиджи Ди Сьерво сообщил, что лига хочет проводить за границей как минимум один матч чемпионата Италии
            +b.footer-card
                +e.P.date 04 Nov 2019
                +e.A.btn Подробнее